blinker==1.4
certifi==2018.11.29
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.10
django-heroku==0.3.1
docutils==0.14
feedgenerator==1.9
gunicorn==19.9.0
idna==2.8
Jinja2==2.10
MarkupSafe==1.1.0
oauthlib==2.1.0
pelican==4.0.1
psycopg2==2.7.6.1
pyandoc==0.2.0
Pygments==2.7.4
pymongo==3.7.2
python-dateutil==2.7.5
pytz==2018.7
requests==2.21.0
requests-oauthlib==1.0.0
six==1.12.0
Unidecode==1.0.23
urllib3==1.24.2
virtualenv==16.3.0
whitenoise==4.1.2
